.loginParentDiv {
    border: 1px  rgb(25, 20, 20);
    width: 400px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }
  
  .logo-img{
    width: 250px;
    margin-left: 15%;
  }
  .loginParentDiv .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
  }
  .loginParentDiv > input {
    border: 1px solid;
  }
  
  .loginParentDiv button {
    width: 100%;
    height: 48px;
    /* border-color: transparent; */
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
  }
  .loginParentDiv button:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  
  .loginParentDiv p {
    display: flex;
    justify-content: center;
    color: #002f34;
    cursor: pointer;
  }

  